<div class="g_6 contents_header">
					<h3 class="i_16_dashboard tab_label">Login & Sign up</h3>
				</div>
				

				<div class="g_12 separator"></div>


				

				<div class="g_6">
					<div class="widget_header">
						<h4 class="widget_header_title wwIcon i_16_valid">Not registered? Sign up!</h4>
					</div>
					<div class="widget_contents noPadding">
						<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					 	 <%= devise_error_messages! %>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :first_name %> *</div>
								<div class="g_9">
									<%= f.text_field :first_name, :required => "" %>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :last_name %> *</div>
								<div class="g_9">
									<%= f.text_field :last_name %>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :password %> *</div>
								<div class="g_9">
									<%= f.password_field :password %>
									<div class="field_notice">a-z-A-Z-0-9</div>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :password_confirmation %> *</div>
								<div class="g_9">
									<%= f.password_field :password_confirmation %>
									<div class="field_notice">a-z-A-Z-0-9</div>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><span class="label">Birthday Date <span class="must">*</span></span></div>
								<div class="g_9">
									<input type="text" required="" class="simple_field pick_date hasDatepicker" id="dp1357501893667">
								</div>
							</div>
							<div class="line_grid">
								<div class="g_3"><%= f.label :email %></div>
								<div class="g_9">
									<%= f.email_field :email %>
									<div class="field_notice">Try typing a wrong email, without @ for ex ..</div>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :address %> *</div>
								<div class="g_9">
									<%= f.text_field :address %>
								</div>
							</div>
							
							<div class="line_grid">
								<div class="g_3"><%= f.label :phone %></div>
								<div class="g_9">
									<%= f.text_field :phone %>
									<div class="field_notice">Format: (999) 999-9999</div>
								</div>
							</div>
							
							
							<div class="line_grid">
								<div class="g_3"><span class="label">Submit</span></div>
								<div class="g_9">
									<%= f.submit "Sign up", :class=> "submitIt simple_buttons" %>
								</div>
							</div>
						<% end %>
					</div>
				</div>